 <!--Navigation Bar-->
<div id="topnav" ng-controller="bctrl.nav">
    <div class="topbar-main">
        <div class="container">

            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <!--<a href="index.html" class="logo">-->
                    <!--Zircos-->
                <!--</a>-->
                <!-- Image Logo -->
                <a href="index-2.html" class="logo">
                    <img src="assets/images/logo_dark.png" alt="" height="24">
                </a>

            </div>
            <!-- End Logo container-->


            <div class="menu-extras">

                <ul class="nav navbar-nav navbar-right pull-right" style="display: flex; margin: auto 0;">
                    <!-- <li class="navbar-c-items">
                        <a href="#" class="right-menu-item dropdown-toggle waves-effect" style="border-radius: 0px !important;display: flex; margin-left: auto;margin-right: auto; width: auto;">
                            <h5 class="text-white">1BTC = $1726.75</h5>
                        </a>
                    </li>
                    
                     <li class="navbar-c-items">
                        <a href="#"><i class="fi-reload"></i></a>
                    </li> -->
                    <li class="navbar-c-items dropdown" style="display: flex; margin-left: auto;
                    margin-right: auto; max-height: 50%;">
                            <select type="button" class="btn waves-effect waves-light btn-inverse dropdown-toggle show-tick dropup" data-toggle="dropdown" style="overflow: hidden; position: relative;" aria-expanded="false" ng-model="myCur"><span class="caret"></span><!-- </button> -->
                            <!-- <optgroup class="dropdown-menu"> -->
                                <option ng-repeat="currency in currencies" value="{{currency}}">
                                    <a href="javascript:void(0)">{{currency}}</a>
                                </option>
                            </select>
                    </li>

                    <li class="dropdown navbar-c-items">
                        <span class="badge badge-topbar badge-success">4</span>
                         <a href="#" class="right-menu-item dropdown-toggle waves-effect" data-toggle="dropdown">
                            <i class="fi-heart"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
                            <li class="text-center">
                                <h5>Notifications</h5>
                            </li>
                            <li>
                                <a href="#" class="user-list-item">
                                    <div class="icon bg-info">
                                        <i class="mdi mdi-account"></i>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">New Signup</span>
                                        <span class="time">5 hours ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="user-list-item">
                                    <div class="icon bg-danger">
                                        <i class="mdi mdi-comment"></i>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">New Message received</span>
                                        <span class="time">1 day ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="user-list-item">
                                    <div class="icon bg-warning">
                                        <i class="mdi mdi-settings"></i>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">Settings</span>
                                        <span class="time">1 day ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="all-msgs text-center">
                                <p class="m-0"><a href="#">See all Notification</a></p>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown navbar-c-items">
                        <a href="#" class="dropdown-toggle waves-effect profile" data-toggle="dropdown" aria-expanded="true"><img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                        <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                            <li class="text-center">
                                <h5>Hi, John</h5>
                            </li>
                            <li><a href="javascript:void(0)"><i class="dripicons-user m-r-10"></i> Profile</a></li>
                            <li><a href="javascript:void(0)"><i class="dripicons-mail m-r-10"></i> <span class="badge badge-success pull-right">5</span> Messages</a></li>
                            <li><a href="javascript:void(0)"><i class="dripicons-gear m-r-10"></i> Settings</a></li>
                            <li><a href="javascript:void(0)"><i class="dripicons-lock m-r-10"></i> Lock screen</a></li>
                            <li><a href="javascript:void(0)"><i class="dripicons-power m-r-10"></i> Logout</a></li>
                        </ul>

                    </li>
                </ul>
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
            <!-- end menu-extras -->

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu" id="navmenu">

                    <li class="has-submenu active">
                        <a ui-sref="home"><i class="fi-air-play"></i>Dashboard</a>
                    </li>

                    <li class="has-submenu">
                        <a ui-sref="transactions"><i class="fi-paper"></i>Transactions</a>
                    </li>

                     <li class="has-submenu">
                        <a  ui-sref="#"><i class="fi-briefcase"></i>Account tools</a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li><a ui-sref="apintegration">Api Integration</a></li>
                                    <li><a ui-sref="apintegration">Setup Wizard</a></li>
                                    <li><a ui-sref="apintegration">Tutorials</a></li>
                                    <li><a ui-sref="apintegration">Notification</a></li>
                                    <li><a ui-sref="apintegration">Help</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a ui-sref="#"><i class="fi-globe"></i>Your Business</a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li><a href="form-elements.html">Transactions</a></li>
                                    <li><a href="form-advanced.html">Custormers</a></li>
                                    <li><a href="form-layouts.html">Income</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="form-validation.html">JustGage</a></li>
                                    <li><a href="form-validation.html">Transfers</a></li>
                                    <li><a href="form-pickers.html">Convertions</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a ui-sref="#"><i class="fi-layers"></i>Payments</a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li><a href="form-pickers.html">Invoice</a></li>
                                    <li><a href="form-wizard.html">Payment page</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

        
                    <li class="has-submenu">
                        <a ui-sref="security"><i class="fi-lock"></i>Security Center</a>
                    </li>

                    <li class="has-submenu">
                        <a ui-sref="#"><i class="fi-cog"></i>Settings</a>
                        <ul class="submenu">
                            <li><a ui-sref="walletinfo">Wallet Information</a></li>
                            <li><a ui-sref="walletinfo">Preferences</a></li>
                            <!-- <li><a href="#">Security Settings</a></li>
                            <li><a href="#">Addresses</a></li>-->
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a ui-sref="#"><i class="fi-map"></i>Support</a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li><a href="form-pickers.html">Live Help Desk</a></li>
                                    <li><a href="form-wizard.html">Api Documentation</a></li>
                                    <li><a href="form-wizard.html">Getting Started</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a ui-sref="faq"><i class="dripicons-question"></i>FAQ</a>
                    </li>

                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</div>
 
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <!-- <li>
                                        <a href="#" class="page-title">Bitcoin address</a>
                                    </li>
                                    <li class="active">
                                        <a href="#" class="page-title">{{address}}</a>
                                    </li> -->
                                </ol>
                            </div>
                            <h4 class="page-title"><span ng-bind="$state.current.data.pageTitle"></span></h4>
                        </div>
                    </div>
                </div>
<!-- End Navigation Bar -->
